.box-1 {
	background-color:red ;
	height: 200px;
	width: 600px;
	;
}
.box-11 {
	background-color: rgb(209, 208, 208);
	height:100px;
	width:100px;
}
.box-2 {
	background-color: blue;
	height: 400px;
	width: 300px;
}
.box-21 {
	background-color: rgb(199, 178, 178);
	height: 250px;
	width: 100px;
}
.box-31{
	background-color: white;
	height: 53px;

}