*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
.Object {
 background-image: url(01-Картинка-фона.jpg);
 height: 600px;
 width: 650px;
 background-size: cover;
 background-position: center;
 margin: 50px 10px 15px 30px;
 padding:350px 0px 0px 350px;
 position: relative;

}
.Object2{
	height: 200px;;
	width: 300px;
	background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(244, 156, 65, 0.8) 100%);
	position: absolute;
	padding:15px 10px 15px 10px;
	
}
 .Object3 {
	height: 170px;;
	width: 280px;
	font-size: medium;
	border: double;
	padding-top:10px;;
}

.title {
	margin: 0 auto;
	text-align: center;
	font-size: 15px;
	margin-bottom: 7px;
}
.text {
	font-size: 10px;
	text-align: left;
	padding-left: 20px;

}
/* 	position:absolute; 	position: relative;
/* border -это рамка  */


