.text1 {
	color: red;
}
.text2 {
	color:blue;
}
body{
	background-color:#FFE2B0 ;
}
/* text-align - линейное расположение;center-центр экрана  */
/* обращаемся именно к тегу header потому что text-align  обращается только к тому
что расположено внутри тега т.е в данном случае
только то что внутри header*/
header{
	text-align:center;
	margin-bottom: 20px;
}
h1{
	font-size: 15px;
}
/* 	list-style-type:none;
убираем точки  из списка  , есть там и другие классные вместо того 
чтобы убирать можно сделать буквы сигма альфа и тд*/
ul{
	list-style-type:none;
	text-align: center;
	padding:0px;
}
li{
	display: inline;
	margin-right: 100px;
}
/* text-decoration: none убираем подчеркивание  */
a{
	color:black;
	text-decoration:none;
	font-size: 18px;
	 
}

/* magrin- внешний отступ  можно к каждому конкретному полю
а можно сделать margin и прописать парамметры они идут по часовой стрелке
т.е  верх право низ лево просто через пробел*/
 /*c padding тоже можно как с margin  */
 /* в бордере тоже сначала размер рамки потом то как 
 будет выглядеть  и цвет  */
/* padding - внутрненний отступ Внутри рамки */
/* border -это рамка  */
/* 	display: inline;
 сделать из блочного в строчный  , а можно наоборот display */

nav{
	margin-bottom: 20px;
}
li:last-child{
	margin-right: 0px;
}
.section-about {
	background-image: url(/sixHoursVIdeo/src/01-Картинка-фона.jpg);
	height: 640px;
	background-position: center;
	background-size: cover;
}